<div>
{{sucess}}
<h2 class="text-center">{{loc.passwordrecovery.header}}</h2>
<form ng-if="success==false"  method="POST" ng-submit="submitPasswordRecovery(form) && submitPasswordRecovery.$valid" name="passwordRecoveryForm">

	<label for="email">
		{{loc.signupform.email}}
	</label>

	<input type="email" required id="email" class="s10" ng-model="form.email" name="email"
           placeholder="{{loc.signupform.email}}"/>

	<div class="form-error" ng-show="notfound">
		{{loc.passwordrecovery.notfound}}
	</div>
	<div class="form-error" ng-show="internal">
		{{loc.passwordrecovery.internal}}
	</div>
	<input type="submit" value="{{loc.send}}" />

</form>
    <div ng-if="success==true">
        A new password has sent to your email, check your email and <a href="login">Login</a> with your new password;
    </div>
</div>