<div ng-model="SignupController">

<div ng-show="!success">
<h2 class="text-center ng-binding">{{loc.singup}}</h2>
<form name="signupform" ng-submit="signupform.$valid && enviarForm(form)">
    <span ng-init="savedValues(form,$scope)"></span>
    <div class="col s6">

   <h2>{{loc.signupform.userAccount}}</h2>
    <label>
        {{loc.signupform.username}} *
    </label>
    <input type="text" class="s10" name="username" ng-model="form.username" placeholder="{{loc.signupform.username}}" required ng-minlength="5" ng-maxlength="32"
  minlength="5" maxlength="32" username-verify="" />
        <div class="form-error" ng-messages="signupform.username.$error" role="alert"
             ng-show="signupform.username.$invalid && signupform.username.$dirty">
            <div ng-message="userExists">{{loc.signupform.wrongusername}} </div>
            <div ng-message="required">{{loc.signupform.error1}}</div>
            <div ng-message="minlength">{{loc.signupform.error2}}</div>
            <div ng-message="minlength">{{loc.signupform.error3}}</div>
        </div>
    <label>
        {{loc.signupform.password}} *
    </label>
    <input type="password"  class="s10" name="password" required  title="Password"  ng-model="form.password" ng-minlength="5" ng-maxlength="32"
           minlength="5" maxlength="32" />
        <div class="form-error" ng-messages="signupform.password.$error" role="alert"
             ng-show="signupform.password.$dirty && signupform.password.$invalid">
            <div ng-message="minlength">{{loc.signupform.error2}}</div>
            <div ng-message="minlength">{{loc.signupform.error3}}</div>
        </div>
    <label>
        {{loc.signupform.rPassword}} *
    </label>
    <input type="password" class="s10"  name="confirmpassword" required title="Confirm Password"  ng-model="confirmpassword"
           password-verify="{{signupform.password.$modelValue}}"/>
        <div class="form-error" ng-messages="signupform.confirmpassword.$error" role="alert"
             ng-show="signupform.confirmpassword.$dirty && signupform.confirmpassword.$invalid">
            <div ng-show="signupform.confirmpassword.$invalid">{{loc.signupform.error4}}</div>
        </div>
    </div>
    <div class="col s6">
        <h2>{{loc.signupform.pData}}</h2>
    
    <label>
        {{loc.signupform.email}} *
    </label>
    <input type="email"  class="s10"  name="email"  email-verify="" placeholder=" {{loc.signupform.email}}" ng-model="form.email" title="Email" required=""/>
        <div class="form-error" ng-messages="signupform.email.$error" role="alert"
             ng-show="signupform.email.$dirty && signupform.email.$invalid">
            <div ng-message="required">{{loc.signupform.error1}}</div>
            <div ng-message="emailExists">{{loc.signupform.wrongemail}} </div>
            <div ng-message="email">{{loc.signupform.error5}}</div>
        </div>
     <label>
        {{loc.signupform.picture}}
    </label>
    <input type="url"  class="s10" placeholder="{{loc.signupform.picture}}" name="picture" ng-model="form.picture" title="Picture"/>
        <div class="form-error" ng-messages="signupform.picture.$error" role="alert"
             ng-show="signupform.picture.$dirty && signupform.picture.$invalid">
            <div ng-message="url">{{loc.signupform.error6}}</div>
        </div>
        <label>
            {{loc.signupform.headerImage}}
        </label>
        <input type="url"  class="s10" placeholder="{{loc.signupform.headerImage}}" name="header" ng-model="form.header" title="Header"/>
        <div class="form-error" ng-messages="signupform.header.$error" role="alert"
             ng-show="signupform.header.$dirty && signupform.header.$invalid">
            <div ng-message="url">{{loc.signupform.error6}}</div>
        </div>
	<label>
        {{loc.signupform.age}} *
    </label>
    <input type="date"  class="s10" name="age" title="Age" ng-model="form.age"
           required min="1900-01-01" max="{{mindate | date:'yyyy-MM-dd'}}" date-verify=""/>
        <div class="form-error" ng-messages="signupform.age.$error" role="alert"
             ng-show="signupform.age.$dirty && signupform.age.$invalid">
            <div ng-message="pattern">{{loc.signupform.error7}}</div>
            <div ng-message="min">{{older}}</div>
            <div ng-message="max">{{younger}}</div>
        </div>
        <label>
            {{loc.signupform.languages}}
        </label>
       <select name="languages"  class="s10" multiple title="Languages" required ng-model="form.languages">
           <option ng-repeat="language in languagesForn" value="{{language.id}}">{{language.longName}}</option>
       </select>

        <div class="form-error" ng-messages="signupform.languages.$error" role="alert"
             ng-show="signupform.languages.$dirty && signupform.languages.$invalid">
            <div ng-message="required">{{loc.signupform.error8}}</div>
        </div>
        <div>
        <input class="col" type="checkbox" name="legal" title="Legal" ng-model="accepted" required value="false" />
        {{loc.signupform.accept}} <a class="link" href="legal">{{loc.signupform.terms}}</a>
        <div class="form-error" ng-messages="signupform.legal.$error" role="alert"
             ng-show="signupform.legal.$dirty && signupform.legal.$invalid">
            <div ng-message="required">{{loc.signupform.error9}}</div>
        </div>
        </div>
</div>
    <div class="red3">{{error}}</div>
    <div>
    <input type="submit" value="{{loc.send}}" ng-disabled="!signupform.$valid" />
    </div>
    <br>
    <div>* {{loc.signupform.required}}</div>
</form>
    </div>
<div ng-show="success">
   <div>{{loc.signupform.success}}</div>
   <a class="button" target="_self" href="login">Login</a>
</div>
<div>

</div>

</div>