<form name="steamaccountform" ng-submit="validateSteam() && steamaccountform.$valid">
    <label for="id">
        Steam ID <small>(<a href="http://steamidfinder.com/" target="_blank">{{loc.profileview.steam.help}})</a></small>
    </label>
    <input name="id" id="id" type="text" placeholder="Steam Id..." ng-model="steam.id" class="s9" required/>
    <p>{{loc.steam.clickCheck}}</p>
    <input type="button" class="button cursor-pointer" ng-disabled="steamaccountform.id.$invalid"
           ng-click="checkGames()" value="{{loc.steam.check}}" />
    <div ng-if="searched==true && games.length>0">

       {{loc.steam.availablesGames}}

    <select multiple name="games" id="games" ng-model="steam.games" class="s9" required>
        <option value="">{{loc.steam.selectGames}}</option>
        <option value="{{i.id}}" ng-repeat="i in games">{{i.name}}</option>
    </select>
        <label>
            {{loc.steam.yourUsernameSteam}}
        </label>
        <input type="text" placeholder="{{loc.loginview.username}}" name="username" id="username" ng-model="steam.username" class="s9" required/>

    <div ng-show="steam.games.length>0">


        <input type="submit" value="{{loc.profileview.addSteamAccount}}" ng-disabled="steamaccountform.$invalid"/>


    </div>
    </div>
    <div ng-if="searched==true && games.length==0">
        {{loc.steam.noHaveGames}}
    </div>
</form>
<h3 class="red3">{{error}}</h3>
