<form name="summoner" ng-submit="validateSUmmoner()">
    <label for="name">
        {{loc.signupform.name}}
    </label>
    <input name="name" id="name" required type="text" placeholder={{loc.signupform.name}} ng-model="search.summoner" class="s9"/>
    <label for="region">
        {{loc.addSummoner.region}}
    </label>

    <select name="region" id="region" required ng-model="search.region" class="s9">
        <option value="">{{loc.addSummoner.select}}</option>
        <option value="euw">EUW</option>
    </select>

    <input type="submit" value="{{loc.addSummoner.addSummoner}}"
           ng-disabled="!summoner.$valid" ng-click="validateSummoner()"/>

    <div ng-show="check">
        <p>{{loc.addSummoner.validateLOL}}</p>
        <b>{{search.key}}</b>

        <p>{{loc.addSummoner.checkLOL}}</p>

        <input type="submit" value="{{loc.addSummoner.clickCheck}}" ng-click="addSummoner()" />

        <h3 class="red3">{{error}}</h3>
    </div>
</form>
