
<h2 class="text-center ng-binding">{{loc.profileView.editprofile}}</h2>
<form name="signupform" ng-submit="signupform.$valid && enviarForm()">
    <div class="col s6">

   <h2>{{loc.signupform.userAccount}}</h2>
    <label>
        {{loc.signupform.username}}
    </label>
    <input type="text" name="username" ng-model="form.username" placeholder="Username" required ng-minlength="5" ng-maxlength="32"
  minlength="5" maxlength="32"  />
        <div class="form-error" ng-messages="signupform.username.$error" role="alert"
             ng-show="signupform.username.$invalid && signupform.username.$dirty">
            <div ng-message="required">{{loc.signupform.error1}}</div>
            <div ng-message="minlength">{{loc.signupform.error2}}</div>
            <div ng-message="minlength">{{loc.signupform.error3}}</div>
        </div>
        <label>
            {{loc.signupform.email}}
        </label>
        <input type="email"  name="email" placeholder=" {{loc.signupform.email}}" ng-model="form.email" title="Email" required=""/>
        <div class="form-error" ng-messages="signupform.email.$error" role="alert"
             ng-show="signupform.email.$dirty && signupform.email.$invalid">
            <div ng-message="required">{{loc.signupform.error1}}</div>
            <div ng-message="email">{{loc.signupform.error5}}</div>
        </div>
    </div>
    <div class="col s6">
        <h2>{{loc.signupform.pData}}</h2>

     <label>
        {{loc.signupform.picture}}
    </label>
    <input type="url" placeholder=" {{loc.signupform.picture}}" name="picture" ng-model="form.picture" title="Picture"/>
        <div class="form-error" ng-messages="signupform.picture.$error" role="alert"
             ng-show="signupform.picture.$dirty && signupform.picture.$invalid">
            <div ng-message="url">{{loc.signupform.error6}}</div>
        </div>
        <label>
            {{loc.signupform.headerImage}}
        </label>
        <input type="url" placeholder=" {{loc.signupform.headerImage}}" name="header" ng-model="form.header" title="Header"/>
        <div class="form-error" ng-messages="signupform.header.$error" role="alert"
             ng-show="signupform.header.$dirty && signupform.header.$invalid">
            <div ng-message="url">{{loc.signupform.error6}}</div>
        </div>
	<label>
        {{loc.signupform.age}}
    </label>
    <input type="text" placeholder="{{loc.signupform.age}}" name="age" title="Age" ng-model="form.age" pattern="[0-9]{1,3}"/>
        <div class="form-error" ng-messages="signupform.age.$error" role="alert"
             ng-show="signupform.age.$dirty && signupform.age.$invalid">
            <div ng-message="pattern">{{loc.signupform.error7}}</div>
        </div>
        <label>
            {{loc.signupform.languages}}
        </label>
       <select name="languages" multiple title="Languages" required ng-model="form.languages"
               ng-options="option.longName for option in languagesForm track by option.id"
       >
       </select>

        <div class="form-error" ng-messages="signupform.languages.$error" role="alert"
             ng-show="signupform.languages.$dirty && signupform.languages.$invalid">
            <div ng-message="required">{{loc.signupform.error8}}</div>
        </div>
</div>
    <div class="red3">{{error}}</div>
    <div>
    <input type="submit" value="{{loc.send}}"/>
    </div>

</form>
