<div ng-if="!ActorService.notFound">
<div class="profile-header" style="background-image: url({{ActorService.actor.actor.header}})">
    <div class="profile-header-editprofile">
        <div class="button bg-white2 cursor-pointer"  ng-if="auth.isPrincipal(ActorService.actor.actor)" dialogcontroller="EditProfileController" dialog="profile/editProfile" >
            {{loc.profileview.editprofile}}
        </div>
    </div>
    <div class="profile-left-panel">
        <div class="profile-avatar">
            <img ng-src="{{ActorService.actor.actor.picture}}"/>
        </div>
        <div class="profile-info">
            <h1>{{ActorService.actor.actor.userAccount.username}}
                <span title="Send Message"><a class="white3" href="messages/{{ActorService.actor.actor.userAccount.username}}">
                    <i class="fa fa-envelope"></i>
                </a> </span>
                <span dialog="report-form" report not-principal="ActorService.actor.actor" title="Report"
                      dialogcontroller="WriteReportController"><i class="fa fa-exclamation-triangle"></i> </span></h1>
            <div class="profile-info-follow"><div follow="ActorService.actor.actor"></div> </div>

            <div class="profile-info-flags" >
                <img  ng-repeat="lan in ActorService.actor.actor.languages" ng-src="assets/images/flags/{{lan.language}}.png" />
            </div>
            <div class="profile-info-friends">
                <h2>{{loc.profileview.bestpals}}</h2>
                <a ng-repeat="u in ActorService.actor.relatedUsers" href="profile/{{u.userAccount.username}}">
                    <img class="profile-image" ng-src="{{u.picture}}"/>
                </a>
            </div>
        </div>
        <div class="profile-stats">
            {{loc.profileview.stats}} <small>(0-5)</small>
            <ul>
                <li><h2>{{loc.main.skill}}</h2> <span class="green">{{ActorService.actor.actor.avgskill}}</span></li>
                <li><h2>{{loc.main.knowledge}}</h2> <span class="green">{{ActorService.actor.actor.avgknowledge}}</span></li>
                <li><h2>{{loc.main.attitude}}</h2> <span class="red">{{ActorService.actor.actor.avgattitude}}</span></li>
            </ul>
            <small>{{loc.profileview.outOf}} {{ActorService.actor.actor.nRatings}} {{loc.profileview.ratings}}</small>
        </div>
    </div>
</div>
<div class="profile-nav" menu="">
    <div class="profile-nav-mbutton om">
        <a href="#"><i class="fa fa-ellipsis-v"></i></a></div>
    <ul>
        <li ng-class="(tabs.gameprofiles) ? 'active' : ''">
            <a class="profile-tabs" href="{{url}}/gameprofiles">
                <i class="fa fa-gamepad"></i> {{loc.profileview.gameProfiles}}</a></li>
        <li  ng-class="(tabs.following) ? 'active' : ''">
            <a  href="{{url}}/following" class="profile-tabs">
                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> {{loc.profileview.following}}</a></li>
        <li  ng-class="(tabs.followers) ? 'active' : ''">
            <a  href="{{url}}/followers" class="profile-tabs">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> {{loc.profileview.followers}}</a></li>
        <li  ng-class="(tabs.teams) ? 'active' : ''">
            <a  href="{{url}}/teams" class="profile-tabs" >
                <i class="fa fa-shield" aria-hidden="true"></i> {{loc.tournament.teams}}</a></li>
        <li  ng-class="(tabs.ratings) ? 'active' : ''">
            <a  href="{{url}}/ratings" class="profile-tabs">
                <i class="fa fa-star" aria-hidden="true"></i> {{loc.profileview.ratings}}</a></li>
    </ul>
</div>
<div class="profile-main">
    <div class="profile-cards" ng-show="tabs.gameprofiles">
        <h1><i class="fa fa-gamepad"></i> {{loc.profileview.gameProfiles}}</h1>
        <div class="col s5" style="margin:15px" ng-if="(ActorService.actor.actor.gameInfo | filter: lol).length !=1 ">
        <a href="#" dialogcontroller="AddSummonerController" class="button"
           dialog="addSummoner" ng-if="auth.isPrincipal(ActorService.actor.actor)" >
            {{loc.addSummoner.addSummoner}}</a>
        </div>
        <div class="col s5" style="margin: 15px;">
            <a href="#" dialogcontroller="AddSteamAccountController" class="button"
               dialog="profile/AddSteamAccount"
               ng-if="auth.isPrincipal(ActorService.actor.actor)">
                <i class="fa fa-steam-square" aria-hidden="true"></i> {{loc.profileview.addSteamAccount}}</a>

        </div>
        <div ng-if="ActorService.actor.actor.gameInfo.length==0">
            {{loc.profileview.gameProfiles}}
        </div>
        <div class="card bg-black7" ng-repeat="i in ActorService.actor.actor.gameInfo">
                <img class="right game-icon" ng-src="assets/images/games/icons/{{i.game.tag}}icon.png"/>
            <div class="card-buttons">
                    <span ng-if="i.game.tag=='lol'" loltier="i.leagues[0].tier"></span>
                     <div class="col">
                         {{i.username}}
                             <div class="small">{{tier}}</div>
                         <a ng-if="i.game.tag=='lol'"  dialog="lolstats" href="#" dialogcontroller="LolstatsController">{{loc.lol.recentMatches}}</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="profile-cards" ng-show="tabs.followers">
        <h1><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> {{loc.profileview.followers}}</h1>
        <div ng-if="ActorService.actor.followers.length==0">
            {{loc.profileview.noFollowers}}
        </div>
        <div class="card "

             user-card="i" ng-repeat="i in ActorService.actor.followers|paginate:pagination">
    </div>
        <ul class="pagination" qp-paginate-url="false"
            gp-paginate="{{ActorService.actor.followers.length}}"
            gp-paginate-limit="6">
        </ul>
    </div>
    <div id="profile-following" class="profile-cards" ng-show="tabs.following">
        <h1><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> {{loc.profileview.following}}</h1>
        <div ng-if="ActorService.actor.following.length==0">
            {{loc.profileview.noFollowing}}
        </div>
        <div class="card " user-card="i" ng-repeat="i in ActorService.actor.following|paginate:pagination">

        </div>
        <ul class="pagination" qp-paginate-url="false"
            gp-paginate="{{ActorService.actor.following.length}}"
            gp-paginate-limit="6">
        </ul>
    </div>

    <div id="profile-teams" class="profile-cards" ng-show="tabs.teams">
        <h1><i class="fa fa-shield" aria-hidden="true"></i> {{loc.tournament.teams}}</h1>
        <div style="margin: 30px;">
            <a href="#" class="button" dialog="createTeam" ng-if="auth.isPrincipal(ActorService.actor.actor)">{{loc.team.create}}</a>
        </div>
        <div ng-if="ActorService.actor.teams.length==0">
            {{loc.profileview.noTeam}}
        </div>
        <div class="card " team-card="i" ng-repeat="i in ActorService.actor.teams|paginate:pagination">
        </div>

        <ul class="pagination" qp-paginate-url="false"
            gp-paginate="{{ActorService.actor.teams.length}}"
            gp-paginate-limit="6">
        </ul>

</div>
    <div id="profile-ratings" class="profile-cards" ng-show="tabs.ratings">
        <h1><i class="fa fa-star" aria-hidden="true"></i> {{loc.profileview.ratings}}</h1>
        <div ng-if="ActorService.actor.actor.ratingsReceived.length==0">
            {{loc.profileview.noRating}}
        </div>
        <div style="margin:30px;">
        <a href="#" class="button" not-principal="ActorService.actor.actor"
           dialog="write-rating-form" dialogcontroller="WriteRatingController">{{loc.profileview.writeRating}}</a>
        </div>
        <div class="blockcard col s4" ng-repeat="r in ActorService.actor.actor.ratingsReceived|paginate:pagination">
                <div class="card-body">{{r.comment}}</div>
                <div class="card-footer">
                    <ul class="list-horizontal">
                        <li class="col">
                            <div class="label bg-green3" title="Attitude">A {{r.attitude}}</div>
                        </li>
                        <li class="col">
                            <div class="label bg-red3" title="Skill">S {{r.skill}}</div>
                        </li>
                        <li class="col">
                            <div class="label bg-magenta3" title="Knowledge">K {{r.knowledge}}</div>
                        </li>
                    </ul>
                </div>
        </div>

        <ul class="pagination" qp-paginate-url="false"
            gp-paginate="{{ActorService.actor.actor.ratingsReceived.length}}"
            gp-paginate-limit="6">
        </ul>
    </div>
</div>
</div>

<div ng-if="ActorService.notFound">
    <giant>404 {{loc.404user}}</giant>
</div>

