<h1>{{loc.search.game}}</h1>

<form name="gamesForm" ng-submit="gamesForm.$valid && addGame(form)">
    {{loc.game.input}}
    <input type="search" class="col" placeholder={{loc.game.searchG}} ng-model="search" ng-keydown="getGames(search)" />
    <i class="fa fa-search cursor-pointer" ng-click="getGames(search)"></i>
  <select name="games" ng-model="games" ng-change="tojson(games)">
      <option value="" ng-show="SteamService._all.length===0">{{loc.game.game}}</option>
      <option ng-repeat="item in SteamService._all|filter:search" value="{{item}}">{{item.name}}</option>
  </select>
    <div ng-if="selectedgame">
        <h2>{{loc.game.add}}</h2>
        <div class="col 5">
            <label>{{loc.game.name}} *</label>
            <input name="name" type="text" ng-model="form.name"  required />
        <label>Steam ID *</label>
        <input name="gameid" type="text" ng-model="form.gameid" disabled  required/>
        </div>
        <div class="col s5">
            <label>{{loc.game.header}} *</label>
            <input name="header" type="url" ng-model="form.header" required />
            <label>{{loc.game.avatar}} *</label>
            <input name="picture" type="url" ng-model="form.picture"  required />
            <label>Tag * {{loc.game.tag}}</label>
            <input name="tag" type="text" ng-model="form.tag"  required />
        </div>

        <div>
            <input type="submit" value="Add Game" ng-disabled="gamesForm.$invalid"/>
        </div>
    </div>
</form>