
<div  class="tournament-header" >
    <h1>Admin Panel</h1>
    <img ng-src="assets/images/wallpapers/adminpanel.jpg"/>
</div>
<div class="content-margin">


<div class="col s4 float-right lateral-menu">
    <ul>
        <h1>{{loc.panel.users}}</h1>
        <li class="link" ng-class="(mode=='usersreportedlist') ? 'active' :''"><a href="adminpanel/usersreportedlist">{{loc.panel.userreport}}</a></li>
        <li class="link" ng-class="(mode=='usersbanned') ? 'active' :''"><a href="adminpanel/usersbanned"> {{loc.panel.users2}}</a> </li>
        <li class="link" ng-class="(mode=='games') ? 'active' :''"><a href="adminpanel/games"> Games</a> </li>
    </ul>
</div>

<div class="s8 content-color" style="min-height: 500px;padding-top:20px;">
    <h1>{{loc.panel.adminpanel}}</h1>
    <section ng-if="mode=='usersbanned'" ng-include="'assets/html/admin/bannedUsers.html'">

    </section>
    <section ng-if="mode=='usersreportedlist'" ng-include="'assets/html/admin/reportedUsersList.html'">

    </section>

    <section ng-if="mode=='games'" ng-include="'assets/html/admin/games.html'">

    </section>
</div>
</div>
