<h2>{{loc.reportview.reports}}</h2>
<div ng-if="reportedusers.length==0">
    {{loc.reportview.any}}
</div>
<div class="blocktext" ng-repeat="item in reportedusers|paginate:'reportedusers'">
    <div>

    <h2>
        <span tooltip>
        <a class="open-tooltip" href="profile/{{item.reportedUser.userAccount.username}}">
        <img ng-src="{{item.reportedUser.picture}}" class="profile-image"/>
        {{item.reportedUser.userAccount.username}}
    </a>
              <div class="tooltip" user-card="item.reportedUser"></div>
              </span>
    </h2>
    <p>{{item.comment}}</p>
    </div>
    <div>
        <div class="col s7 x2 float-left">
           <b>{{loc.reportview.by}}</b>  <span tooltip>
        <a class="open-tooltip" href="profile/{{item.reporterUser.userAccount.username}}">
        <img ng-src="{{item.reporterUser.picture}}" class="profile-image"/>
        {{item.reporterUser.userAccount.username}}
    </a>
              <div class="tooltip" user-card="item.reporterUser"></div>
              </span>
        </div>
        <div class="col s3 x1 float-right">
            <a  class="button bg-red3" style="position: relative;" ng-click="deleteReport(item)">
                <i class="fa fa-close"></i>{{loc.reportview.delete}}</a>
        </div>

        <div class="clear-both"></div>

    </div>
</div>

<ul class="pagination"
    gp-paginate-items="reportedusers"
    gp-paginate
    gp-paginate-limit="6"
    gp-paginate-id="reportedusers">
</ul>
