.card{
  border-radius:4pt;
  @extend .s3, .col, .box;
  h1,h2{
    border:0;
    font-size:1.1em;
  }
  padding:10px;
  margin:10px;
  .card-image{
    @extend .s4, .col;
    img{
      vertical-align: text-top;
      max-height: 70px;
      max-width:70px;
    }
  }
  .card-buttons{
    @extend .s7, .col;
    a.button{
      margin-right:8px;
      margin-top:5px;
    }
  }
  a{
    color: $color-base-black-2;
    &:visited{
      color: $color-base-black-2;
    }
  }
  a.button{
    @extend .white1;
  }


}

.card-small{
  @extend .card;
  width:80%;
  padding:8px;
  margin-top:6px;
  margin-bottom:6px;
}

.card-rating{
  padding:5px;
  margin-right:15px;
  background-color: $color-base-black-7;
  opacity:1;
  border-radius:4pt;
  img{
    width:60px;
    height:60px;
    vertical-align: middle;
  }
  .card-rating-text{
    margin-top:5px;
    margin-bottom:5px;
  }
}

.blockcard{
  margin:0;
  font-size:10pt;
  color:$color-base-black-4;
  margin-bottom:40px;
  margin-right:10px;
  border-radius:4pt;
  padding:0;
  @extend .s4, .col, .box;
  .card-header{
    background-color: $color-base-black-1;
    position: relative;
    overflow: hidden;
    padding-bottom: 42%;
    .card-header-right{
      z-index:1;
      padding:5px;
      position: absolute;
      top:5px;
      right:8px;
    }
    .card-header-header{
      width:100%;
      top:0;
      right:0;
      position: absolute;
    }
    .card-header-avatar{
      width: 80px;
      height: 80px;
      z-index: 1;
      position: absolute;
      transform: translateX(25%);
      background-color: white;
      bottom: 0;
      border: 1px solid $color-base-black-6;
      border-bottom: 0;
      opacity: 1;
    }
    .card-header-left{
      z-index:2;
      background-color: $color-base-black-4;
      padding:5px;
      position: absolute;
      top:5px;
      right:8px;
    }
    h1{
      @include stroke(2,$color-base-black-7);
      color:$color-base-white-1!important;
      font-size:17pt!important;
      z-index:1;
      position: absolute;
      bottom:10px;
      left:10px;
      a{
        color:$color-base-white-1;
        &:hover{
        color:$color-base-white-1;
      }
      }

    }
  }
  .card-body{
    background-color: $color-base-white-1;
    padding:10px;
    h1{
      text-transform: none;
      font-family: Roboto-Regular, sans-serif;
      color:$color-base-black-1;
      font-size:1.2em;
    }
  }
  .card-footer{
    border-top:1px solid $color-base-black-7;
    background-color: $color-base-black-8;
    padding:15px;
  }
}