.dropdown{
  display: inline-table;
  font-size: 14pt;
  text-shadow: none;
  position: relative;
  a{
    color:$color-base-black-2;
  }
  .button{
    display: inline-table;
  }
  ul{
    z-index:15;
    @extend .box;
    background-color: $color-base-white-1;
    display: none;
    margin: 0;
    border:1px solid $color-base-black-6;
    padding: 0;
    min-width: 250px;
    @include om(){
      min-width:150px;
      max-width: 150px;
    }
    position:absolute;
    top: 0;
    li{
      display: list-item;
      a{
        padding:15px;
        @include om(){
          padding:6px;
        }
        color:$color-base-black-1;
        display: block;
        border-bottom: 1px solid $color-base-black-7;
        &:hover{
          background-color: $color-base-black-8!important;
        }
      }
    }
  }
}