.col{
  display:inline-table;
  vertical-align: top;
}
.s1{
  width:8%;
}
.s2{
  width:16%;
}
.s3{
  width:24%;
}
.s4{
  width:32%;
}
.s5{
  width:41%;
}
.s6{
  width:49%;
}
.s7{
  width:58%;
}
.s8{
  width:65%;
}
.s9{
  width:74%;
}
.s10{
  width:83%;
}
.s11{
  width:91%;
}
.s12{
  width:99%;
}

.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,
.s9,.s10,.s11,.s12{
  @include om(){
      width:100%!important;
  }
}

.x1{
  @include om() {
    width: 23.9%!important;
  }
}

.x2{
  @include om() {
    width: 48.9%!important;
  }
}

.x3{
  @include om() {
    width: 73.9%!important;
  }
}

.x4{
  @include om() {
    width: 98%!important;
  }
}