@font-face {
  font-family: Roboto-Light;
  src: url(stylerz/fonts/Roboto-Light.ttf)
}

@font-face {
  font-family: Roboto-Bold;
  src: url(stylerz/fonts/Roboto-Bold.ttf)
}

@font-face {
  font-family: Roboto-Regular;
  src: url(stylerz/fonts/Roboto-Regular.ttf)
}

@font-face {
  font-family: Roboto-Thin;
  src: url(stylerz/fonts/Roboto-Thin.ttf)
}
