input{
  margin:10px;
  padding:10px;
  font-family: Roboto-Light, sans-serif;
  border:1px solid $color-base-black-4;
  outline:0;
  display: block;
  background-color: $color-base-white-1;

  &:focus{
    border:1px solid $color-base-blue-1;
  }
  &[type=submit]{
    @extend .button;
    &:disabled{
      box-shadow: none;
      background-color: $color-base-black-6;
      cursor: default;
    }
  }
}

select{
  max-width:100%;
}
.plainform{
  margin:0;
  padding:0;
  background-color: transparent;
  border:0;
  display: inline-block;
  vertical-align: middle;
}
textarea{
  border:0;
  min-width:50%;
  padding:15px;
  display: block;
  min-height: 100px;
  transition: none!important;
  max-width:100%;
  background-color: $color-base-black-7;
  color:$color-base-black-1;
  font-family: Roboto-Regular, sans-serif!important;
  font-size:0.9em;
  &:focus{
    border:1px solid $color-base-black-6;
  }
}

.not-resizable{
  resize: none;
}

label{
  display: block;
  margin-bottom:15px;
}


.forms-center{
  @extend form;
}
form{
 padding:30px;
  background-color: $color-base-white-1;
  border: 1px solid $color-base-black-6;
  border-radius:4pt;
  margin: 0 auto;
  margin-top:15px;
  margin-bottom:15px;
}

.normal_form{
  padding:8px;
  background-color: transparent;
  border-radius: 0;
  margin:0 auto;
  border:0;
  textarea{
    background-color: $color-base-white-1;
    min-width: 90%;
  }
}
.search-filter{
  padding:10px;
  margin:20px;
  background-color: $color-base-black-7;
}

.form-error{
  color:$color-base-red-3;
  font-size:0.8em;
  padding:4px;
  margin:10px;
  @include om(){
    margin-right:0;
    margin-left:0;
  }
  border-radius:4pt;
  background-color: $color-base-black-7;
}

.autocomplete{
  display: inline-block;
  position: relative;
  input{
    width:100%;
    margin:0;
  }
  .autocomplete-results{
    max-height: 200px;
    z-index: 1000;
    overflow-y: auto;
    border:1px solid $color-base-black-5;
    border-top:0;
    background-color: $color-base-white-1;
    position: absolute;
    top:38px;
    left:0;
    width:100%;
    margin:0;
    padding:0;
    li{
      font-size:0.6em;
      list-style: none;
      a{
        display: block;
        padding-left:10px;
        padding-top:5px;
        padding-bottom:5px;
        &:hover,&:focus{
          @extend .list-hover;
        }
      }
    }
  }
}

button{
  outline: 0;
  &:active,:focus{
    outline: 0;
  }
}
.list-hover{
    background-color: $color-base-black-7;
    outline: 0;
}