.notifications-nav{
  @extend .col, .s3;
  border: 1px solid $color-base-black-7;
  li{
    list-style: none;
    padding:8px;
    border-top: 1px solid $color-base-black-7;
    border-bottom: 0;
    a{
      color:$color-base-black-2;
    }
    &:first-child{
      border-top:0;
    }
  }
  .notifications-nav-header{
    background-color: $color-base-black-7;
  }
}

.notifications-main{
  @extend .col, .s8;
  padding:15px;
}

.notifications-newmessages{
  margin-top:20px;
  li{
    list-style: none;
    a{
      padding:16px;
      background-color: $color-base-black-7;
      margin-bottom:5px;
      color:$color-base-black-2!important;
      display: block;
      transition: all 0.15s ease-out;
      &:hover{
        padding:20px;
        color:$color-base-black-1!important;
        background-color: $color-base-black-6;
      }
    }
  }
}

.notifications-follower{
  margin-top:20px;
  li{
    list-style: none;
    padding:16px;
    background-color: $color-base-black-7;
    margin-bottom:5px;
    color:$color-base-black-2!important;
    transition: all 0.15s ease-out;
    &:hover{
      padding:20px;
      color:$color-base-black-1!important;
      background-color: $color-base-black-6;
    }
    a{
      color:$color-base-black-1!important;
      &:hover{
        color:$color-base-black-3!important;
      }
    }
  }
}