@import "fonts.scss";
@import "vars.scss";
@import "mixins.scss";
@import "cols.scss";
@import "util.scss";
@import "components/card.scss";
@import "components/menu.scss";
@import "forms.scss";
@import "headers.scss";
@import "tables.scss";
@import "components/sldr.scss";
@import "specific/profile.scss";
@import "components/tooltip.scss";
@import "animations.scss";
@import "specific/summonerProfile.scss";
@import "specific/chat.scss";
@import "notifications.scss";
@import "specific/tournament.scss";
@import "components/pagination";
@import "components/dropdown.scss";
@import "components/blocktext.scss";
@import "components/section.scss";
@import "specific/feedback";
@import "components/markdown";

.center-container{
  margin-left:4%;
  margin-right:4%;
  @include om(){
    margin-left:0;
    margin-right:0;
  }
}

.container{
  transition: all 0.5s ease-out;
}


ul{
  margin:0;
  padding:0;
  li{
    list-style: none;
  }
}

