$color-base-blue-1: rgb(115, 175, 201);
$color-base-blue-12: rgba(115, 175, 201,0.8);
$color-base-blue-13: rgba(115, 175, 201,0.6);
$color-base-blue-14: rgba(115, 175, 201,0.4);
$color-base-blue-15: rgba(115, 175, 201,0.2);
$color-base-blue-2: rgb(92, 139, 151);;
$color-base-blue-3: rgba(54,83,93,1);
$color-base-blue-4: rgb(35, 66, 79);
$color-base-blue-42: rgba(35, 66, 79,0.85);
$color-base-blue-5: rgb(2, 20, 25);
$color-base-blue-52: rgba(2, 20, 25,0.85);
$color-base-blue-6: rgb(255, 255, 255);

$color-base-white-1:rgba(255,255,255,1);
$color-base-white-2:rgba(255,255,255,0.88);
$color-base-white-3:rgba(255,255,255,0.78);
$color-base-white-4:rgba(255,255,255,0.58);
$color-base-white-5:rgba(255,255,255,0.38);
$color-base-white-6:rgba(255,255,255,0.18);
$color-base-white-7:rgba(255,255,255,0.06);

$color-base-black-1:rgba(0,0,0,1);
$color-base-black-2:rgba(0,0,0,0.88);
$color-base-black-3:rgba(0,0,0,0.78);
$color-base-black-4:rgba(0,0,0,0.58);
$color-base-black-5:rgba(0,0,0,0.38);
$color-base-black-6:rgba(0,0,0,0.18);
$color-base-black-7:rgba(0,0,0,0.08);
$color-base-black-8:rgba(0,0,0,0.04);

$color-base-red-2: rgb(255, 150, 112);
$color-base-red-3: rgba(217, 95, 58, 0.84);

$color-base-green-2: rgba(45, 185, 107, 0.64);
$color-base-green-3: rgba(45, 185, 107, 0.84);

$color-base-magenta-3: rgba(203, 67, 135, 0.78);

$color-base-yellow-3: rgb(242, 251, 51);

$min-width-responsive:0px;
$max-width-responsive: 1024px;

.bg-blue3{
  background-color: $color-base-blue-3!important;
  color:$color-base-white-1!important;
}

.yellow3{
  color:$color-base-yellow-3;
}

.bg-black7{
  background-color: $color-base-black-7;
  color:$color-base-black-1;
}

.red3{
 color: $color-base-red-3!important;
}

.white1{
  color:$color-base-white-1!important;
  &:hover{
    color:$color-base-white-1!important;
  }
}

.white3{
  color:$color-base-white-3!important;
  &:hover{
    color:$color-base-white-3!important;
  }
}

.bg-red3{
  background-color: $color-base-red-3!important;
  color:$color-base-white-1!important;
}

.bg-green2{
  background-color: $color-base-green-2!important;
  color:$color-base-white-1!important;
}

.bg-green3{
  background-color: $color-base-green-3!important;
  color:$color-base-white-1!important;
}

.bg-magenta3{
  background-color: $color-base-magenta-3!important;
  color:$color-base-white-1!important;
}

.bg-white2{
  background-color: $color-base-white-2!important;
  color:$color-base-black-2!important;
  &:hover{
    color:$color-base-black-2;
  }
}

.size-1-5{
  font-size:1.5em;
}

.white{
  color:$color-base-white-2;
  &:hover{
    color:$color-base-white-1;
  }
}