<div ng-controller="AssignTeamToTournamentController">
    <div ng-if="TournamentService.isInscriptionOver(tournament)==false &&
    TournamentService.fullInscription(tournament)==false">
<form name="AssignForm" ng-submit="assignTeamToTournament()" ng-if="userteams.length>0">
    <label>
        {{loc.assignTeam.select}}
    </label>
    <select ng-model="assignForm.team" tabindex="0" ng-change="setTeamSelected()">
        <option value=""> {{loc.assignTeam.select}}</option>
        <option ng-repeat="t in userteams" value="{{t.id}}">{{t.name}}</option>
    </select>

    <div>{{loc.assignTeam.selectedTeam}}<b>{{tournament.title}}</b></div>

    <div class="card s12" team-card="teamselected" ng-show="teamselected">
    </div>
    <div style="margin:15px;">

    <input type="submit" value="{{loc.assignTeam.inscribe}}" />

    </div>
</form>
    <div ng-if="userteams.length==0">
        {{loc.assignTeam.dontTeam}}
    </div>
    </div>
    <div ng-if="TournamentService.isInscriptionOver(tournament)==true
                || TournamentService.fullInscription(tournament)==true">
        <div ng-if="TournamentService.isInscriptionOver(tournament)==true">
            {{loc.assignTeam.started}}
        </div>

        <div ng-if="TournamentService.fullInscription(tournament)==true">
            {{loc.assignTeam.full}}
        </div>
    </div>
</div>