<div ng-controller="BracketsController" class="bracket">
    <div class="bracket-round" ng-repeat="i in ts.numberOfRounds(tournament) track by $index">
        <h2>{{getRound(i)}}</h2>
        <div class="col s3 bracket-rounds" ng-repeat="p in ts.numberOfConfrontation(i,tournament)">
            <div class="bracket-match relative">
                <span ng-click="editTime(ts.getMatch(i,p,tournament))" class="clock cursor-pointer" ng-if="auth.hasRole('ADMIN')"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                <div class="bracket-team" ng-class="getStyleFromResult(ts.getMatch(i,p,tournament),0)">
                    <a href="team/{{ts.getMatch(i,p,tournament).participes[0].team.id}}"><span>
                        {{ts.getMatch(i,p,tournament).participes[0].team.name}}
                  </span>
                <img style="width:100%" ng-src="{{ts.getMatch(i,p,tournament).participes[0].team.picture}}"/>   </a>
                </div>
                <h3 style="text-align: center">VS </h3>
                <div class="bracket-team"
                     ng-class="getStyleFromResult(ts.getMatch(i,p,tournament),1)">
                    <a href="team/{{ts.getMatch(i,p,tournament).participes[1].team.id}}"><span>
                        {{ts.getMatch(i,p,tournament).participes[1].team.name}}
                   </span>
                <img style="width:100%" ng-src="{{ts.getMatch(i,p,tournament).participes[1].team.picture}}"/> </a>
                </div>
            </div>
        </div>
    </div>
</div>