
<div  class="tournament-header" >
    <h1>{{loc.tournament.tournaments}}</h1>
    <img ng-src="assets/images/wallpapers/tournaments.jpg"/>
</div>
<div class="content">


<div style="margin:30px;">
<a href="tournament/create" ng-if="auth.hasRole('ADMIN') || auth.hasRole('MODERATOR')" class="button">
    {{loc.tournament.create}}</a>
</div>


<div class="blockcard" ng-repeat="i in Ts.tournaments|paginate:'tournaments'" tournament-card="i">
    </div>

<ul class="pagination"
    gp-paginate-url="true"
    gp-paginate
    gp-paginate-items="Ts.tournaments"
    gp-paginate-id="tournaments"
    gp-paginate-limit="6"></ul>

</div>