<section>
    <form ng-submit="resolve(selectedTeam,reportMatch)">
        <h1>{{loc.indicende.contact}}</h1>
        <div>


        <a  target="_blank" class="button" href="messages/{{TeamService.getLeader(reportMatch.confrontation.participes[0].team).userAccount.username}}"><i class="fa fa-envelope"></i> {{loc.indicende.contact}} </a>
        {{reportMatch.confrontation.participes[0].team.name}} {{loc.indicende.select}}
        </div>
        <br>
        <div>
        <a  target="_blank" class="button" href="messages/{{TeamService.getLeader(reportMatch.confrontation.participes[1].team).userAccount.username}}"><i class="fa fa-envelope"></i> {{loc.indicende.contact}} </a>
        {{reportMatch.confrontation.participes[1].team.name}} {{loc.indicende.select}}
        </div>
        <h1>{{loc.indicende.thenD}}</h1>
        <p>
            {{loc.indicende.who}}</p>
        <select ng-model="selectedTeam">
            <option value="">{{loc.indicende.select}}</option>
            <option ng-repeat="t in reportMatch.confrontation.participes" value="{{t.team.id}}">{{t.team.name}}</option>
        </select>
        <div>
            <input type="submit" value="Resolve"/>
        </div>
    </form>
</section>