<article ng-show="notFound==true" ng-cloak>

    <div  class="tournament-header" >
        <h1>{{tournament.title}}</h1>
        <img ng-src="{{tournament.picture}}"/>
    </div>
<div class="profile-nav" menu="">
    <div class="profile-nav-mbutton om">
        <a href="#"><i class="fa fa-ellipsis-v"></i></a></div>
    <ul>
        <li ng-class="(tabs.resume) ? 'active' : ''">
            <a class="profile-tabs" href="{{url}}/resume">
               {{loc.tournament.description}}</a></li>
        <li  ng-class="(tabs.rules) ? 'active' : ''">
            <a  href="{{url}}/rules" class="profile-tabs">
                 {{loc.tournament.rules}}</a></li>
        <li  ng-class="(tabs.teams) ? 'active' : ''">
            <a  href="{{url}}/teams" class="profile-tabs">
                {{loc.tournament.inscriptedTeams}}</a></li>
        <li  ng-class="(tabs.bracket) ? 'active' : ''">
            <a  href="{{url}}/bracket" class="profile-tabs" >
              {{loc.tournament.bracket}}</a></li>
        <li  ng-class="(tabs.awards) ? 'active' : ''">
            <a  href="{{url}}/awards" class="profile-tabs">
                {{loc.tournament.awards}}</a></li>
    </ul>
</div>
<div class="col s8" style="min-height: 500px">
    <div ng-if="mode=='resume'">
        <h1>{{loc.tournament.description}}</h1>
        <p>{{tournament.description}}</p>
    </div>
    <div ng-if="mode=='rules'">
        <h1> {{loc.tournament.rules}}</h1>
        <p>{{tournament.rules}}</p>
    </div>
    <div ng-if="mode=='teams'">
        <h1> {{loc.tournament.teams}}</h1>
        <div class="col s3" team-card="i" ng-repeat="i in tournament.teams"></div>
    </div>
    <div ng-if="mode=='bracket'">
        <h1>{{loc.tournament.bracket}}</h1>
        <div ng-include="'assets/html/tournaments/brackets.html'"></div>
    </div>
    <div ng-if="mode=='awards'">
        <h1>{{loc.tournament.awards}}</h1>
        <div  class="blockcard col s3" ng-repeat="i in tournament.awards">
            <div class="card-body">
                <img style="width:80px;vertical-align: text-top" ng-src="{{i.image}}" /> {{i.description}}
            </div>
        </div>
        <div ng-if="auth.hasRole('ADMIN')">
            <a href="#" class="button" dialog="createAward">{{loc.tournament.createAward}}</a>
        </div>
    </div>
</div>
<div class="col s4 float-right lateral-menu">
    <ul ng-if="matchtoreport!=false">
        <h1>Report Match</h1>
        <li>
            <a href="#" class="button" dialog="tournaments/reportMatch">Report Match</a>
        </li>
    </ul>
    <ul ng-if="auth.hasRole('ADMIN') || auth.hasRole('MODERATOR')">
        <h1>{{loc.tournament.adminZone}}</h1>
        <li><a href="#" class="button" ng-click="advanceRound(tournament)">{{loc.tournament.advanceRounds}}</a> </li>
    </ul>
    <ul ng-if="auth.hasRole('USER')">
        <h1>{{loc.tournament.inscribe}}</h1>
        <li ng-include="'assets/html/tournaments/assignTeamToTournament.html'"></li>
    </ul>
        <ul>
            <h1>{{loc.tournament.information}}</h1>
            <li>{{loc.tournament.inscriptionLimit}}: {{tournament.limitInscription | date:"dd MMM h:mm'h'"}}</li>
            <li>{{loc.tournament.numberTeams}}: {{tournament.teams.length}}/{{tournament.numberTeams}}</li>
        </ul>
    </div>
</article>
<article ng-show="notFound==false" ng-cloak>
    <giant>{{loc.tournament.notFound}}</giant>
</article>
<div class="clear-both s12"></div>