<article ng-show="notFound==true" ng-cloak>

    <div  class="tournament-header" >
        <h1>{{tournament.title}} <img style="width:30px!important;" class="game-icon" ng-src="{{tournament.game.picture}}" /> </h1>
        <img ng-src="{{tournament.picture}}"/>
    </div>
<div class="profile-nav" menu="">
    <div class="profile-nav-mbutton om">
        <a href="#"><i class="fa fa-ellipsis-v"></i></a></div>
    <ul>
        <li ng-class="(mode=='resume') ? 'active' : ''">
            <a class="profile-tabs" href="{{url}}/resume">
               {{loc.tournament.description}}</a></li>
        <li  ng-class="(mode=='rules') ? 'active' : ''">
            <a  href="{{url}}/rules" class="profile-tabs">
                 {{loc.tournament.rules}}</a></li>
        <li  ng-class="(mode=='teams') ? 'active' : ''">
            <a  href="{{url}}/teams" class="profile-tabs">
                {{loc.tournament.inscriptedTeams}}</a></li>
        <li  ng-class="(mode=='bracket') ? 'active' : ''">
            <a  href="{{url}}/bracket" class="profile-tabs" >
              {{loc.tournament.bracket}}</a></li>
        <li  ng-class="(mode == 'awards') ? 'active' : ''">
            <a  href="{{url}}/awards" class="profile-tabs">
                {{loc.tournament.awards}}</a></li>
        <li ng-if="auth.hasRole('ADMIN')"  ng-class="(mode == 'incidences') ? 'active' : ''">
            <a  href="{{url}}/incidences" class="profile-tabs">
                {{loc.tournament.indi}}</a></li>
    </ul>
</div>
    <div class="content-margin">

<div class="col s8 content-color" style="min-height: 500px">
    <div ng-if="mode=='resume'">
        <h1>{{loc.tournament.description}}</h1>
        <div contenteditable="true" markdown="tournament.description"></div>
    </div>
    <div ng-if="mode=='rules'">
        <h1> {{loc.tournament.rules}}</h1>
        <div markdown="tournament.rules"></div>
    </div>
    <div ng-if="mode=='teams'">
        <h1> {{loc.tournament.teams}}</h1>
        <div class="col s3" team-card="i" ng-repeat="i in tournament.teams|paginate:'teams'"></div>
        <ul class="pagination"
            gp-paginate-items="turnament.teams"
            gp-paginate
            gp-paginate-limit="6"
            gp-paginate-id="teams">
        </ul>
    </div>
    <div ng-if="mode=='bracket'">
        <h1>{{loc.tournament.bracket}}</h1>
        <div ng-include="'assets/html/tournaments/brackets.html'"></div>
    </div>
    <div ng-if="mode=='awards'">
        <h1>{{loc.tournament.awards}}</h1>
        <div  class="blockcard col s3" ng-repeat="i in tournament.awards|paginate:'awards'">
            <div class="card-body">
                <img style="width:80px;vertical-align: text-top" ng-src="{{i.image}}" /> {{i.description}}
            </div>
        </div>
        <ul class="pagination"
            gp-paginate-items="tournament.awards"
            gp-paginate
            gp-paginate-limit="6"
            gp-paginate-id="awards">
        </ul>
        <div ng-if="auth.hasRole('ADMIN')">
            <a href="#" class="button" dialog="tournaments/createAward">{{loc.tournament.createAward}}</a>
        </div>
    </div>
    <div ng-if="mode=='incidences' && auth.hasRole('ADMIN')" ng-include="'assets/html/tournaments/incidences.html'">
    </div>
</div>
<div class="col s4 float-right lateral-menu">
    <ul ng-if="matchtoreport!=false">
        <li>
        <h1>{{loc.tournament.match}}</h1>
            <div><b>{{loc.tournament.playvs}} </b>
                <span tooltip="">
                <a class="open-tooltip" href="team/{{getTeamToPlay().id}}">
                <img class="profile-image" ng-src="{{getTeamToPlay().picture}}"/>
                {{getTeamToPlay().name}}</a>
                    <div class="card tooltip" team-card="getTeamToPlay()"></div>
            </span>
            </div>
            <div><b>{{loc.tournament.limit}}</b> {{matchtoreport.confrontation.limitPlay | date:"dd MMM h:mm'h'"}}</div>
            <div>
            <a href="#" class="button"
               dialog="tournaments/reportMatch">{{loc.tournament.reportMatch}}</a></div>
        </li>
    </ul>
    <ul ng-if="getTeamByPrincipal()!==false">
        <h1>{{loc.tournament.yout}}
        </h1>
        <li><b>{{loc.tournament.youj}}</b>
            <br>
            <div class="card block s12" team-card="getTeamByPrincipal()"></div>
        </li>
    </ul>
    <ul ng-if="auth.hasRole('ADMIN') || auth.hasRole('MODERATOR')">
        <h1>{{loc.tournament.adminZone}}</h1>
        <li ng-if="incidences.length>0">{{loc.tournament.roundA}}
        </li>
        <li><input type="submit" href="#" ng-disabled="incidences.length>0 ||
        TournamentService.canBeAdvanced(tournament)===false" class="button"
                   ng-click="advanceRound(tournament)" value="{{loc.tournament.advanceRounds}}"> </li>
        <li  ng-if="TournamentService.canBeDeleted(tournament)">
            <a href="#" class="button bg-red3" ng-click="delete(tournament)">
                <i class="fa fa-close"></i> {{loc.tournament.delete}}</a></li>
    </ul>
    <ul ng-if="auth.hasRole('USER')">
        <h1>{{loc.tournament.inscribe}}</h1>
        <li ng-include="'assets/html/tournaments/assignTeamToTournament.html'"></li>
    </ul>
        <ul>
            <h1>{{loc.tournament.information}}</h1>
            <li><b>{{loc.tournament.inscriptionLimit}}:</b> {{tournament.limitInscription | date:"dd MMM h:mm'h'"}}</li>
            <li><b>{{loc.game1}}: </b><img  class="game-icon" ng-src="{{tournament.game.picture}}" />
             {{tournament.game.name}}</li>
            <li><b>{{loc.tournament.numberTeams}}:</b> {{tournament.teams.length}}/{{tournament.numberTeams}}</li>
            <li><b>{{loc.tournament.teamsize}}
                :</b> {{tournament.players}} (+2)</li>
        </ul>
    </div>
    </div>
</article>
<article ng-show="notFound==false" ng-cloak>
    <giant>{{loc.tournament.notFound}}</giant>
</article>
<div class="clear-both s12"></div>