
<h1 class="text-center">
    <b>{{loc.main.slogan}}</b>
</h1>

<ul class="cols">
    <li><img src="assets/images/landpage/friendly.png" />
        {{loc.main.friendly}}</li>
    <li><img src="assets/images/landpage/tournaments.png" />
        {{loc.main.competition}}</li>
    <li><img src="assets/images/landpage/star.png" />
        {{loc.main.community}} <span class="label bg-green3">{{loc.main.attitude}}</span>
        <span class="label bg-red3" title="Skill">{{loc.main.skill}}</span> <span
                class="label bg-magenta3" title="Knowledge">{{loc.main.knowledge}}</span>
    </li>
</ul>

<section class="col s12 text-center">
    <h1 class="text-center">{{loc.main.ourGames}}</h1>
    <div class="card blockcard s4"  ng-repeat="g in games">
        <div class="card-header">
            <h1>{{g.name}}</h1>
            <img class="card-header-header" ng-src="{{g.header}}">
        </div>
    </div>
</section>

<h1 class="text-center">{{loc.main.join2}}</h1>
<div class="text-center">
    <a href="signup" ng-if="!auth.isAuthenticated()"  class="button text-center"><i
            class="fa fa-user-plus"></i>{{loc.main.singup}}</a>
</div>

<!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">-->
    <!--<input type="hidden" name="cmd" value="_xclick">-->
    <!--<input type="hidden" name="business" value="payment@gamingpals.com">-->
    <!--<input type="hidden" name="item_name" value="One month payment">-->
    <!--<input type="hidden" name="currency_code" value="EUR">-->
    <!--<input type="hidden" name="custom" value="thisismytest"/>-->
    <!--<input type="hidden" name="amount" value="5.00">-->
    <!--<input type="image" src="http://www.paypal.com/es_XC/i/btn/x-click-but01.gif"-->
           <!--name="submit"-->
           <!--alt="Make payments with PayPal - it's fast, free and secure!">-->
<!--</form>-->

