<div ng-controller="AssignTeamToTournamentController">
<form name="AssignForm" ng-submit="assignTeamToTournament()">
    <label>
        {{loc.assignTeam.select}}
    </label>
    <select ng-model="assignForm.team" tabindex="0" ng-change="setTeamSelected()">
        <option value=""> {{loc.assignTeam.select}}</option>
        <option ng-repeat="t in teams" value="{{t.id}}">{{t.name}}</option>
    </select>

    <div>{{loc.assignTeam.selectedTeam}}<b>{{tournament.title}}</b></div>

    <div class="card " team-card="teamselected" ng-show="teamselected">
    </div>
    <div style="margin:15px;">

    <input type="submit" value="{{loc.assignTeam.inscribe}}" />

    </div>
</form>
    <div ng-if="teams.length==0 || added">
        You don't have any Team that is available to inscribe into the tournament
    </div>
    <div ng-if="TournamentService.isInscriptionOver(tournament)==false">
        Tournament has already started.
    </div>
</div>