<div ng-controller="CreateTeamController">
    <form name="createTeamForm" ng-submit="createTeam() && createTeamForm.$valid">
        <label>Name</label>
        <input type="text" name="name" ng-model="teamform.name" placeholder="Team name" required />
        <div class="form-error" ng-messages="createTeamForm.name.$error" role="alert"
             ng-show="createTeamForm.name.$invalid && createTeamForm.name.$dirty">
            <div ng-message="required">Please enter a value for this field.</div>
        </div>
        <label>Picture</label>
        <input type="url" name="picture" ng-model="teamform.picture" placeholder="http://" />
        <h3>Search a member:</h3>
        <div class="autocomplete">
        <input type="search" ng-autocomplete="" ng-model="searchmember" ng-focus="showAutoComplete=true"/>
            <ul class="autocomplete-results" ng-show="showAutoComplete==true">
                <li ng-repeat="a in allusers | filter:searchmember">
                   <a href="#" ng-click="addMember(a)"> <img class="profile-image" ng-src="{{a.picture}}"/> {{a.userAccount.username}}</a>
                </li>
            </ul>
        </div>
        <h2>Membes selected</h2>
        <div class="card s5" user-card="i" ng-repeat="i in selectedmembers">
        </div>
        <div>

            <input type="submit" value="Create Team" />
        </div>
    </form>
</div>