
<div class="summoner-profile center-container" ng-cloak>
    <h1>{{loc.lol.recentMatches}}</h1>
    <div class="summoner-profile-recent">
        <div class="summoner-profile-recent-match" ng-repeat="m in ms.matches">
            <span class="float-right label" ng-class="{'bg-green3': m.win, 'bg-red3': !m.win}">
                {{(m.win==true) ? 'Victory' : 'Defeat'}}
            </span>
            <div class="col s2">
                <img class="champion-portrait" ng-src="{{lolsd.getChampionIcon(lolsd.findChampionById(m.championId).id)}}" />
            </div>

            <div class="col s4">
                <div><b>{{lolsd.findChampionById(m.championId).name}}</b></div>
                <b>KDA:</b> {{m.kills}} / {{m.deaths}} / {{m.assists}}
            </div>
            <div class="col s3">

                <span ng-repeat="i in m.itemsGame track by $index">
                    <item itemid="i"></item>
                </span>
            </div>
            <div>
                <a href="#" class="float-right" ng-click="seeMatch(m.gameId,ms.summoner.region,m)">See more</a>
            </div>
            <div class="clear-both"></div>
            <div class="s12" ng-show="m.showMatch==true" ng-include="'assets/html/includes/match.html'">

            </div>
        </div>
    </div>
</div>