
<article  ng-if="!auth.isAuthenticated()">
    <div class="welcome-header"  >
        <h1><img
                 src="assets/images/landpage/logo.png" /></h1>
    </div>
    <section class="landscape content" ng-include="'assets/html/main/welcome.html'">
    </section>
</article>

<article ng-if="auth.isAuthenticated()" class="content" ng-controller="DashBoardController">
    <section class="s12">
    <section class="s12 col">
    <section class="s8 col">
        <h1>Lastest Tournaments</h1>
        <div class="card s5" tournament-card="i" ng-repeat="i in lastTournaments"></div>
    </section>
    <section class="col s4">
        <h1>Our Supported Games</h1>
        <div class="card blockcard s12"  ng-repeat="g in games">
            <div class="card-header">
                <h1><a href="search?games={{g.id}}"> {{g.name}}</a></h1>
                <img class="card-header-header" ng-src="{{g.header}}">
            </div>
        </div>
    </section>
    </section>
    </section>
        <section class="s12 col">
            <h1>Best Rated Users</h1>
            <div class="card s4" user-card="i" ng-repeat="i in bestRatedUsers"></div>
        </section>

</article>