<div  class="tournament-header" >
    <h1>{{tournament.title}} </h1>
    <img ng-src="assets/images/wallpapers/notifications.jpg"/>
</div>
<div class="content-margin">

<div class="col s4 float-right lateral-menu">

<ul>
    <h1>{{loc.notification.notifications}}</h1>
    <li><a href="notifications/teaminvitations">{{loc.notification.teamInvitations}}</a> </li>
    <li><a href="notifications/followers">{{loc.notification.newFollowers}}</a> </li>
</ul>
</div>

<div class="notifications-main content-color">
    <div ng-if="mode=='teaminvitations'">
        <h2>{{loc.notification.teamInvitations}}</h2>
        <span ng-show="notifications.notifications.TeamInvitations.length==0">{{loc.notification.noTeamInvitations}}</span>
        <div class="card bg-black7 s12" ng-repeat="i in notifications.notifications.TeamInvitations track by $index">
            <div class="card-image">
                <a href="team/{{i.team.id}}"> <h1>{{i.team.name}}</h1></a>
                <img ng-src="{{i.team.picture}}" ng-if="i.team.picture" />
                <div>
                <a ng-repeat="a in i.users" href="profile/{{a.userAccount.username}}">
                    <img class="profile-image" ng-src="{{a.picture}}">
                </a>
                </div>
            </div>
            <div class="card-buttons">
                <a class="button white1 bg-red3 float-right" href="#" ng-click="reject(i)">{{loc.notification.reject}}</a>
                <a class="button white1 bg-green3 float-right" href="#" ng-click="accept(i)">{{loc.notification.accept}}</a>
            </div>
        </div>
    </div>
    <div ng-if="mode=='followers'">
        <h2>{{loc.notification.newFollowers}}</h2>
        <span ng-show="notifications.notifications.Follower.length==0">{{loc.notification.noNewFollowers}}</span>
        <ul class="notifications-follower" >
           <li class="hvr-radial-in" ng-repeat="i in notifications.notifications.Follower track by $index">
               <a href="profile/{{i.follower.userAccount.username}}"> <img class="profile-image" ng-src="{{i.follower.picture}}" />
                   {{i.follower.userAccount.username}} {{loc.notification.followYou}}
           </a> <i ng-click="notifications.readNotification(i,'Follower')" class="fa fa-close float-right cursor-pointer"></i></li>
        </ul>
    </div>
</div>
</div>