<div ng-show="!ActorService.notFound">
<div class="profile-header">
    <div class="profile-left-panel">
        <div class="profile-avatar">
            <img ng-src="{{ActorService.actor.actor.picture}}"/>
        </div>
        <div class="profile-info">
            <h1>{{ActorService.actor.actor.userAccount.username}}
                <span dialog="report-form" report not-principal="ActorService.actor.actor" title="Report"
                      dialogcontroller="WriteReportController"><i class="fa fa-exclamation-triangle"></i> </span></h1>
            <div class="profile-info-follow"><div follow="ActorService.actor.actor"></div> </div>

            <div class="profile-info-flags" >
                <img  ng-repeat="lan in ActorService.actor.actor.languages" ng-src="assets/images/flags/{{lan.language}}.png" />
            </div>
        </div>
        <div class="profile-stats">
            Stats <small>(0-5)</small>
            <ul>
                <li><h2>Skill</h2> <span class="green">{{ActorService.actor.actor.avgskill}}</span></li>
                <li><h2>Knowledge</h2> <span class="green">{{ActorService.actor.actor.avgknowledge}}</span></li>
                <li><h2>Attitude</h2> <span class="red">{{ActorService.actor.actor.avgattitude}}</span></li>
            </ul>
            <small>out of {{ActorService.actor.actor.nRatings}} ratings</small>
        </div>
    </div>
</div>
<div class="profile-nav">
    <ul>
        <li class="active"><a class="profile-tabs" href="#" data-card="profile-gameprofiles">Game Profiles</a></li>
        <li><a  href="#" class="profile-tabs" data-card="profile-following">Following</a></li>
        <li><a  href="#" class="profile-tabs" data-card="profile-followers">Followers</a></li>
        <li><a  href="#" class="profile-tabs" data-card="profile-teams">Teams</a></li>
        <li><a  href="#" class="profile-tabs" data-card="profile-ratings">Ratings</a></li>
    </ul>
</div>
<div class="profile-main">
    <div id="profile-gameprofiles" class="profile-cards">
        <h1>Game Profiles</h1>
        <a href="#" dialogcontroller="AddSummonerController" dialog="addSummoner" ng-show="ActorService.actor.actor.gameInfo.length==0">Add League of Legends Profile</a>
        
        <div ng-show="ActorService.actor.actor.gameInfo.length==0">
            This user hasn't got any game registered.
        </div>
        <div class="card bg-blue3" ng-repeat="i in ActorService.actor.actor.gameInfo">
            <div class="card-image">
                <img ng-src="assets/images/games/icons/{{i.game.tag}}icon.png"/>
            </div>
            <div class="card-buttons">
                {{i.username}}
            </div>
        </div>
    </div>
    <div id="profile-followers" class="hidden profile-cards">
        <h1>Followers</h1>
        <div ng-show="ActorService.actor.followers.length==0">
            This user hasn't got any follower! Be the first.
        </div>
        <div class="card bg-blue3" ng-repeat="i in ActorService.actor.followers">
            <div class="card-image">
                <a href="profile/{{i.userAccount.username}}"> <h1>{{i.userAccount.username}}</h1></a>
                <img class="block" ng-src="{{i.picture}}" />
            </div>
            <div class="card-buttons">
                <rating actor="i"></rating>
                <div class="flags">
                    <img  ng-repeat="lan in i.languages"
                          ng-src="assets/images/flags/{{lan.language}}.png" />
                </div>
                <div follow="i"></div>
            </div>
        </div>
    </div>

    <div id="profile-following" class="hidden profile-cards">
        <h1>Following</h1>
        <div ng-show="ActorService.actor.following.length==0">
            This user doesn't follow anybody
        </div>
        <div class="card bg-blue3" ng-repeat="i in ActorService.actor.following">
            <div class="card-image">
                <a href="profile/{{i.userAccount.username}}"> <h1>{{i.userAccount.username}}</h1></a>
                <img class="block" ng-src="{{i.picture}}" />
            </div>
            <div class="card-buttons">
                <rating actor="i"></rating>
                <div class="flags">
                    <img  ng-repeat="lan in i.languages"
                          ng-src="assets/images/flags/{{lan.language}}.png" />
                </div>
                <div follow="i"></div>
            </div>
        </div>
    </div>

    <div id="profile-teams" class="hidden profile-cards">
        <h1>Teams</h1>
        <div ng-show="ActorService.actor.teams.length==0">
            This user hasn't got any team.
        </div>
        <div class="card bg-blue3" ng-repeat="i in ActorService.actor.teams">
            <div class="card-image">
                <img ng-src="{{i.picture}}" />
            </div>
            <div class="card-buttons">
                <a href="profile/{{i.name}}"> <h1>{{i.name}}</h1></a>
            </div>
    </div>


</div>
    <div id="profile-ratings" class="hidden profile-cards">
        <h1>Ratings</h1>
        <div ng-show="ActorService.actor.actor.ratingsReceived.length==0">
            This user hasn't got any rating yet! Be the first.
        </div>
        <div>
        <a href="#" class="button" not-principal="ActorService.actor.actor"
           dialog="write-rating-form" dialogcontroller="WriteRatingController">Write a Rating</a>
        </div>
        <div class="card-rating col s4" ng-repeat="r in ActorService.actor.actor.ratingsReceived">
            <div class="col s2">
                <a href="profile/{{r.ratingUser.name}}">{{r.ratingUser.name}}</a>
                <img ng-src="{{r.ratingUser.picture}}"/>
            </div>
            <div class="col s9">
                <div class="card-rating-text">{{r.comment}}</div>
                <div>
                    <rating actor="r.ratingUser"></rating>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<div ng-show="ActorService.notFound">
    <giant>404 USER NOT FOUND</giant>
</div>
<script>
    $(".profile-tabs").on("click",function(e){
        e.preventDefault();
        let object = $(this);
        let card = $(this).data("card");
        if (!$(this).parent("li").hasClass("active")){
            $(".profile-cards").hide(300);
            $("#"+card).show(200);
            $(".active").removeClass("active");
            $(this).parent("li").addClass("active");
        }
        e.stopPropagation();
    })
</script>
