<div>
    <h2 class="text-center">{{loc.teamForm.t}}</h2>
    <form class="forms-center" ng-submit="createTeam()">
        <label for="name">
        {{loc.signupform.name}}
    </label>
    <input name="name" id="name" type="text" placeholder="{{loc.signupform.name}}" ng-model="teamForm.name" class="s9"/>
    
        <label for="picture">
             {{loc.signupform.picture}} / {{loc.reportform.proof}}
        </label>
        <input type="url" required id="picture" name="picture" ng-model="teamForm.picture" placeholder="http://" />

        <input type="submit" value="{{loc.teamForm.t}}" />
    </form>
</div>