

<h1>{{loc.reportview.list}}</h1>
<table>
    <thead>
    <tr>
        <td>{{loc.reportview.reportedUsed}}</td>
        <td>{{loc.reportform.comment}}</td>
        <td>{{loc.signupform.picture}}</td>
        <td>{{loc.signupform.action}}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in As.reportedList ">
        <td><a href="profile/{{i.reportedUser.userAccount.username}}" >{{i.reportedUser.userAccount.username}}</a></td>
        <td>{{i.comment}}</td>
        <td><a href="#" class="button" ng-click="showImage(i.picture)">{{loc.view}}</a></td>
        <td><a href="#"><i class="fa fa-gear"></i> </a> </td>
    </tr>
    </tbody>
</table>