<div ng-controller="ConfrontationTournamentListController">
<h1>{{loc.confrontation.controntationList}}</h1>
<table>
    <thead>
    <tr>
        <td>{{loc.confrontation.round}}</td>
        <td>{{loc.confrontation.numberMatch}}</td>
        <td>{{loc.confrontation.limitPlay}}</td>
        <td>{{loc.tournament.teams}}</td>
        <td>{{loc.reportform.report}}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in As.confrontations ">
        <td>{{i.round}}</td>
        <td>{{i.numberMatch}}</td>
        <td>{{i.limitPlay | date:"MM/dd/yyyy 'at' h:mma"}} </td>
        <td >
       		<div ng-repeat="x in i.participes">
         		{{x.team.name}}
         	</div>
        </td>
         <td><a href="#" ng-click="reportMatch(i.id)" ng-if="canShowReport(i) && alreadyReport(i)" class="button">{{loc.reportform.report}}</a></td>
    </tr>
    </tbody>
</table>
</div>