<section ng-controller="ManageTeamController">


<h1>{{loc.team.manage}}</h1>
<section class="col s5 section">
    <h2>{{loc.team.leave}}</h2>
    <p ng-if="isLeader(auth.principal.actor)==true">{{loc.team.cantl}}</p>
    <a class="button bg-red3" ng-if="isLeader(auth.principal.actor)==false" ng-click="leaveTeam(auth.principal.actor)">Leave</a>
</section>
<section class="col s5 section">
    <h2>{{loc.team.delete}}</h2>
    <p ng-if="isLeader(auth.principal.actor)==false">
        {{loc.team.actionl}}</p>
    <a class="button bg-red3" ng-click="delete()" ng-if="isLeader(auth.principal.actor)==true">
       {{loc.tournament.delete}}</a>
</section>
<section class="col s5 section">
    <h2>{{loc.team.promote}}</h2>
    <p ng-if="isLeader(auth.principal.actor)==false">
        {{loc.team.actionl}}</p>
    <p ng-if="getOtherMembers(auth.principal.actor).length<1">
        {{loc.team.isntP}}
    </p>
    <form ng-submit="promoteNewLeader(formPromote)"
          ng-if="isLeader(auth.principal.actor)==true && getOtherMembers(auth.principal.actor).length>0">
        <label>{{loc.team.isntP}}</label>

        <select ng-model="formPromote.user">
            <option value="">{{loc.team.isntP}}</option>
            <option ng-repeat="i in getOtherMembers(auth.principal.actor)" value="{{i.id}}">{{i.userAccount.username}}</option>
        </select>
        <input type="submit" ng-disabled="formPromote.user==null" />
    </form>
</section>

<section class="col s5 section">
    <h2>{{loc.team.edit}}</h2>
    <p ng-if="isLeader(auth.principal.actor)==false">
        {{loc.team.actionl}}</p>
    <form name="editForm" ng-submit="edit(formEdit)"
          ng-if="isLeader(auth.principal.actor)==true">
        <label>{{loc.signupform.name}} *</label>
        <input type="text" name="name" class="s12" ng-model="formEdit.name" placeholder="{{loc.team.teamName}}" required />
        <div class="form-error" ng-messages="createTeamForm.name.$error" role="alert"
             ng-show="createTeamForm.name.$invalid && createTeamForm.name.$dirty">
            <div ng-message="required">{{loc.signupform.error1}}</div>
        </div>
        <label>{{loc.signupform.picture}}</label>
        <input type="url" name="picture" class="s12" ng-model="formEdit.picture" placeholder="http://" />
        <label>{{loc.signupform.password}} <a href="#" ng-click="passwordInfo()">
            <i class="fa fa-question-circle"></i> </a> </label>
        <input type="password" class="s12" name="passwordteam" ng-model="formEdit.password" min="6" max="20" />
        <input type="submit" value="Edit" ng-disabled="editForm.$valid==false" />
    </form>
</section>

<section class="col s5 section">
    <h2>{{loc.team.invite}}</h2>
    <p ng-if="isLeader(auth.principal.actor)==false">
        {{loc.team.actionl}}</p>
    <form ng-if="isLeader(auth.principal.actor)==true"  ng-submit="inviteMembers(inviteForm) && inviteForm.members.length>0">
        <label>{{loc.team.select}}</label>
        <div class="autocomplete s12">
            <input class="s12" style="display: block!important" type="search" ng-autocomplete=""
                   ng-model="searchmember" ng-focus="showAutoComplete=true"/>
            <ul class="autocomplete-results" ng-show="showAutoComplete==true">
                <li ng-repeat="a in allusers | filter:searchmember">
                    <a href="#" ng-click="addMember(a)">
                        <img class="profile-image" ng-src="{{a.picture}}"/> {{a.userAccount.username}}</a>
                </li>
            </ul>
        </div>
        <h2>{{loc.team.members}}</h2>
        <div class="s12 col" ng-repeat="i in selectedmembers">
            <div style="margin:15px;font-size:0.7em;"><a class="button" ng-click="removeMember(i)">Remove</a>
            </div>
            <div class="card s12" user-card="i" >
            </div>
        </div>
        <div ng-if="selectedmembers.length==0">
            {{loc.team.isntU}}
        </div>
        <div>
            <input type="submit" value="Invite" ng-disabled="inviteForm.members.length==0" />
        </div>
    </form>
</section>
    <section class="col s5 section">
        <h2>{{loc.team.kick}}</h2>
        <p ng-if="isLeader(auth.principal.actor)==false">
            {{loc.team.actionl}}</p>
        <form name="formKick"  ng-if="isLeader(auth.principal.actor)==true" ng-submit="kickMember(kickForm) && formKick.$valid">
            <label>{{loc.team.select}}</label>

            <select name="member" ng-model="kickForm.member" required title="Members">
                <option value="">{{loc.team.select}}</option>
                <option ng-repeat="i in getOtherMembers(auth.principal.actor)" value="{{i.id}}">{{i.userAccount.username}}</option>
            </select>
            <div>
                <input type="submit" value="{{loc.team.kick}}" ng-disabled="formKick.$valid==false" />
            </div>
        </form>
    </section>
</section>