
@import "stylerz/stylerz.scss";


body{
  font-size:14pt;
  margin:0;
  padding:0;
  background-size: 100% 100%;
  background: $color-base-blue-6;
  font-family: Roboto-Regular, sans-serif;
  @include om(){font-size:12pt;};

}

main{
  background-color: $color-base-white-1;
  color:$color-base-black-1!important;
  min-height:500px;
  text-decoration: none;
  padding:15px;
  a{
    color:$color-base-blue-1!important;
    &:hover{
      color:$color-base-blue-2!important;
    }
  }
}
