.chat{
  font-size:0.9em;
  .chat-body{
    background-color: $color-base-white-1;
    border:2px solid $color-base-black-6;
    .chat-body-chat-receiver{
      font-size:1.2em;
      background-color: $color-base-blue-2;
      color:$color-base-white-3;
      padding:10px;
      .chat-body-chat-status{
        font-size:0.6em!important;
        color:$color-base-white-1;
      }
    }
    .chat-body-notuser{
      position: relative;
      padding: 30px;
      .chat-body-notuser-text{
        position: absolute;
        left:10%;
        top:125px;
      }
    }
    .chat-body-chat{
    background-color: $color-base-white-1;
      .chat-body-chat-messages{
        padding:10px;
        height: 270px;
        position: relative;
        overflow-y: auto;
        .chat-body-chat-messages-author{
          clear: both;
          float:right;
          padding:7px;
          margin-bottom:3px;
          min-width: 20%;
          border-radius:5px;
          background-color: $color-base-black-7;
        }
        .chat-body-chat-messages-user{
          clear: both;
          padding:7px;
          margin-bottom:3px;
          min-width: 20%;
          border-radius:5px;
          float:left;
          background-color: $color-base-blue-12;
        }
        .chat-body-chat-messages-time{
          font-size:0.7em;
          color:$color-base-black-4;
        }
      }
      .chat-body-chat-inputbox{
        position: relative;
        border-top:2px solid $color-base-black-6;
        width:100%;
        .chat-body-chat-inputbox-input{
          max-height: 130px;
          overflow-y: auto;
          max-width: 90%;
          min-width:90%;
          font-size:0.9em;
          padding:10px;
          color:$color-base-black-2;
          &:focus{
            outline: 0;
          }
          &:active{
            outline: 0;
          }
        }
        .chat-body-input-key{
          @extend .button;
          position: absolute;
          padding:4px!important;
          padding-right:15px!important;
          padding-left:15px!important;
          font-size: 0.5em!important;
          top: 0;
          right:0;
        }
      }
    }
  }
}


