.bracket{
  h3{
    border:0;
  }
  .bracket-round{
    margin: 0 auto;
    .bracket-rounds {
      .bracket-match {
        @extend .box;
        margin: 15px;
        background-color: $color-base-black-8;
        .bracket-team {
          max-height: 50px;
          height: 50px;
          overflow: hidden;
          position: relative;
          img{
            opacity: 0.9;
          }
          span {
            position: absolute;
            color: $color-base-white-1;
            @include stroke(2,$color-base-black-3);
            z-index:5;
            bottom: 0;
            left: 5px;
            a{
              color:inherit;
              &:hover{
                color:inherit;
            }
            }
          }
        }
      }
    }
  }
}

.winner{
  opacity: 1;
  border:2px solid $color-base-magenta-3;
}

.looser{
  opacity:0.5;
  border:2px solid $color-base-black-7;
}


.clock{
  top:3px;
  z-index:2;
  right:3px;
  color:$color-base-white-1;
  position: absolute;
  background-color:$color-base-black-4;
  padding:2px 6px;
  border-radius:50%;
  a{
    color:inherit;
    &:hover{
      color:inherit;
    }
  }
}